@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    min-width: 100vw;
}

#sidebar {
    background-color: rgb(18, 18, 22);
    height: 100vh;
    width: 200px;
}

#logo {
    height: auto;
    width: 180px;
    margin: 8px;
}

ul {
    list-style: none;
    font-weight: 700;
    margin-block-start: 3em;
    display: flex;
    flex-direction: column;
    gap: 0.9em;
}

main {
    background-color: rgb(43, 43, 51);
    flex: 1;
    display: flex;
    flex-direction: column;
}

#top-panel {
    background-color: rgb(25, 25, 31);
    color: white;
    padding: 4px 32px;
}

.upper {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    width: clamp(150px, 50%, 75%);;
    display: flex;
    align-items: center;
    gap: 0.6em;
}

#search-bar {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: clamp(150px, 75%, 600px);
    padding: 0 1em;
}

#search-bar:focus {
    outline: none;
}

form > button {
    background-color: transparent;
    border: none;
}

form > button:hover {
    cursor: pointer;
}

.upper img {
    height: 30px;
    width: auto;
}

#profile-link {
    height: 44px;
}

.right {
    font-weight: bold;
    width: 240px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}

a,
a:visited {
    color: white;
    text-decoration: none;
}

.dropdown {
    position: relative;
    height: 40px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
    background-color: rgb(58, 58, 70);
    text-align: center;
    font-style: italic;
    font-weight: 300;
    width: 180px;
    display: none;
    padding: 12px;
    position: absolute;
    z-index: 1;
    top: 120%;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.lower {
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tile-area {
    flex: 1;
    display: grid;
}