@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    min-width: 100vw;
}

#sidebar {
    background-color: rgb(18, 18, 22);
    height: 100vh;
    width: 200px;
}

#logo {
    height: auto;
    width: 180px;
    margin: 8px;
}

main {
    background-color: rgb(43, 43, 51);
    flex: 1;
    display: flex;
    flex-direction: column;
}

#top-panel {
    background-color: rgb(25, 25, 31);
    color: white;
    padding: 4px 32px;
}

.upper {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 75%;
    display: flex;
    align-items: center;
    gap: 0.6em;
}

#search-bar {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: clamp(150px, 75%, 600px);
    padding: 0 1em;
}

#search-bar:focus {
    outline: none;
}

form > button {
    background-color: transparent;
    border: none;
}

.upper img {
    height: 30px;
    width: auto;
}

#profile-link {
    height: 44px;
}

.right {
    font-weight: bold;
    width: 240px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}

.right a,
.right a:visited {
    color: white;
    text-decoration: none;
}

.lower {
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tile-area {
    flex: 1;
    display: grid;
}